h1{
    padding: 0;
    margin: 0;
}    
                    
#men{
    font-weight: 800;
}
#sub{
    font-size: 20pt;
    
}

#red li a{
    font-size: 20pt;
}
html,*{
    font-family: 'Montserrat', sans-serif;;
    scroll-behavior: smooth;
}
#boxi{
position: fixed;
top: 0;
z-index: 10;
width: 100%;
}
#lis li a{
    border-right: 20px white;
}
#car{
   height: 950px;
}
#tra{
    opacity: 0.8;
 
}
#firma{
    font-size: 10pt;
}
.redes  {
padding-left: 2%;
   font-size: 20pt;
    list-style: none;
    flex-direction: row;
    display: flex;

}
.redes li{
    padding-right: 20px;
    color: azure;
}
#caro{
    width: 100%;
    text-align: center;
}
#por{
    padding-left: 90px;
  
}
#titulo{
    font-size: 30pt;
    font-weight: bold;
   
}
.f{
    width: 100%;
}
#parrafo{
    font-size: 20pt;
   overflow: hidden;
}

@media(max-width:1200px){
    #por{
        padding-left:0px;
    }
}
#fto{
  
}


.no{
    color: red;
}
#parra{
font-size: 20pt;


}
#marg li {
    border-right: 2px red;
}
#basico{
    width: 30%;
    text-align: center;
    margin: auto;
}
#bold{
    font-weight: bold;
    font-size: 30pt;
}
#parrafo1{
    font-size: 20pt;
}
#bold2{
    font-weight: bold;
    font-size: 25pt;
}

@media(max-width:768px){
    #por{
        padding-left: 0;
        width: 100%;

    }
    #nombre{
        font-size: 25pt;
    }   
    #basico{
        width: 100%;
    }
    .f{
       width: 100% ; 
    }
    #boxi{
        width: 100%;
    }
    #guia,#bas,#titul,#tienda{
        font-size: 22pt;
    }
}
